.dropdown {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 20px;
    z-index: 2;

    &__selected {
        border: none;
        outline: none;
        width: 100%;
        border-radius: 24px;
        background: #FFF;
        box-shadow: 0px 7px 14px 0px rgba(170, 0, 0, 0.15);
        color: var(--color-dark);
        background: transparent;
        height: 100%;
        padding: 16px 20px;
        appearance: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        &::after {
            content: url('../../../assets/img/chevron-down.svg');
            border-right: 0;
            margin-left: 4px;
            flex: none;
            border-top: 0;
            display: block;
            pointer-events: none;
        }
    }

    &__options {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__option {
        padding: 16px 24px;
        cursor: pointer;
        transition: 0.3s;
        background: #fff;
        border: none;
        outline: none;
        width: 100%;
        text-align: left;

        input {
            display: none;
        }

        &:hover {
            background: #c4c4c4;
        }

        &--selected {
            background: #c4c4c4;
        }
    }

    &__drop {
        position: absolute;
        bottom: 100%;
        width: 100%;
        background: #fff;
        border-radius: inherit;
        overflow: hidden;
        transition: 0.3s;
        max-height: 200px;
        transform: scaleY(0);
        transform-origin: bottom;
        display: grid;
        overflow: hidden auto;

        &--active {
            transform: scaleY(1);
        }
        
    }
}