.quiz_start {
    background: var(--color-primary);
    height: 100%;

    &__title {
        color: #fff;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
    }

    &__text {
        color: #fff;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;

        a {
            text-decoration: underline;
        }
    }

    &__image {
        width: 100vw;
        margin-top: auto;
    }

    &__button{
        width: 100%;
    }

    &__logo {
        margin-top: auto;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: auto;
        width: 100%;
        max-width: 360px;
        padding: 20px;
        gap: 12px;
        z-index: 1;
        position: relative;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('~/src/assets/img/bg-gradient.png') no-repeat bottom right;
        background-size: cover;
    }
}