.cookie_consent {
    position: fixed;
    z-index: 24;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 24px;
    border-radius: 8px 8px 0px 0px;
    background: #FFF;

    &__content {
        flex-direction: column;
        display: flex;
        gap: 12px;
    }

    &__actions {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 16px;
    }
}