.bubble {
    border-radius: 24px 24px 24px 0px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 7px 14px 0px rgba(170, 0, 0, 0.15);
    padding: 16px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    position: absolute;

    &--active {
        transform: scaleY(1);
        position: relative;
        opacity: 1;
    }
    
}